// ALERTS
// ==============================

// vars
// ===============================
$alert-bg-colors: (
        'danger' : $color-red-400,
        'info' : $color-blue-400,
        'warning' : $color-amber-400,
        'success' : $color-green-400,
) !default;

// structure
// ==================================
.alert {
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
}

// skins
//===================================

// color
@each $name, $color in $alert-bg-colors {
  .alert-#{$name} {
    background: $color;
  }
}