$bg-grid-default-color: $color-gray-300 !default;

// warning: user must set wrapper div size
// =============================
/* perfect math formula = 40 *N +1 */
/* take N = 10* for example */

.bg-grid {
  box-sizing: border-box;

  // override below
  border: 1px solid $bg-grid-default-color;
  background: linear-gradient(to bottom, transparent 39px, $bg-grid-default-color 39px 40px),
  linear-gradient(to right, transparent 39px, $bg-grid-default-color 39px 40px);
  background-size: 40px 40px;
}

$bg-grid-colors: (
        'purple' : $color-purple-400,
        'blue' : $color-blue-400,
        'yellow' : $color-yellow-400,
        'green' : $color-green-400,
        'red' : $color-red-400,
) !default;

@each $name, $color in $bg-grid-colors {
  .bg-grid-#{$name} {
    border: 1px solid $color;
    background: linear-gradient(to bottom, transparent 39px, $color 39px 40px),
    linear-gradient(to right, transparent 39px, $color 39px 40px);
    background-size: 40px 40px;
  }
}