.bg-ripple {
  background-color: black; /* default bg color*/
  border: 1px solid black; /* default border*/

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

/* all direct child elements are absolute */

.bg-ripple-outer-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 15px solid rgba(255, 255, 255, .4); /* variants*/
  border-radius: 50%;
}

.bg-ripple-outer-circle.animation {
  animation-name: outer-ripple;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bg-ripple-inner-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, .4); /* variants*/
  border-radius: 50%;
  z-index: 1;
}

.bg-ripple-inner-circle.animation {
  animation-name: inner-ripple;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bg-ripple-body {
  position: absolute;
}

.bg-ripple-content {
  color: white;
}

@keyframes inner-ripple {
  from {
  }

  to {
    width: 400px;
    height: 400px;
  }
}

@keyframes outer-ripple {
  from {
  }

  to {
    width: 450px;
    height: 450px;
  }
}