// border composition
// ===============================

// border variants
$border-comp-default-color: #C9C9C9 !default;
// border-comp-width only for source code compile, NOT for user variants
$border-comp-width: 3px !default;
$border-comp-colors: (
        'red' : $color-red-400,
        'blue' : $color-blue-400,
        'yellow' : $color-amber-400,
        'green' : $color-green-400,
) !default;

.border-composition {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $border-comp-default-color 100%, $border-comp-default-color 100%),
  linear-gradient(to bottom, $border-comp-default-color 100%, $border-comp-default-color 100%),
  linear-gradient(to right, $border-comp-default-color 100%, $border-comp-default-color 100%),
  linear-gradient(to bottom, $border-comp-default-color 100%, $border-comp-default-color 100%);
  /* width height */
  background-size: 100% $border-comp-width,
  $border-comp-width 100%,
  100% $border-comp-width,
  $border-comp-width 100%;
  background-position: 0 0,
  100% 0,
  100% 100%,
  0 100%;
  animation: border-composition 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;

  padding: $border-comp-width;
}

// border color variants
// =================================
@each $name, $color in $border-comp-colors {
  .border-composition-#{$name} {
    background-image: linear-gradient(to right, $color 100%, $color 100%),
    linear-gradient(to bottom, $color 100%, $color 100%),
    linear-gradient(to right, $color 100%, $color 100%),
    linear-gradient(to bottom, $color 100%, $color 100%);
  }
}

// hover style
.border-composition:hover {
  animation-play-state: running;
}

// border animation
@keyframes border-composition {
  0% {
    background-size: 0 $border-comp-width,
    $border-comp-width 0,
    0 $border-comp-width,
    $border-comp-width 0;
  }

  25% {
    background-size: 100% $border-comp-width,
    $border-comp-width 0,
    0 $border-comp-width,
    $border-comp-width 0;
  }

  50% {
    background-size: 100% $border-comp-width,
    $border-comp-width 100%,
    0 $border-comp-width,
    $border-comp-width 0;
  }

  75% {
    background-size: 100% $border-comp-width,
    $border-comp-width 100%,
    100% $border-comp-width,
    $border-comp-width 0;
  }

  100% {
    background-size: 100% $border-comp-width,
    $border-comp-width 100%,
    100% $border-comp-width,
    $border-comp-width 100%;
  }
}
