.img-overlap {
  position: relative;
  border: 1px solid black;

  // default size
  width: 180px;
  height: 300px;
}

.img-overlap-item {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.img-overlap-item-top-left {
  top: 0;
  left: 0;
  opacity: .7;
}

.img-overlap-item-center {
  right: 5%;
  bottom: 10%;
  z-index: 1;
}

.img-overlap-item-bottom-right {
  right: 0;
  bottom: 0;
  opacity: .7;
}