.letter-paper {
  margin: 0 auto;
  padding: 0 1.25rem;
  min-height: 100vh;
  width: 640px;
  /* warning: measure line-height and set parameter */
  background: linear-gradient(transparent 35px, black 36px);
  background-size: 100% 36px;
}

.letter-paper-start,
.letter-paper-paragraph,
.letter-paper-end,
.letter-paper-signature {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  text-indent: 2em; /*every p indent 2 key word*/
  /* font-size * line-height = 36px = bg line gap*/
}

.letter-paper-end,
.letter-paper-signature {
  text-align: right;
}
