.letterbox-media {
  position: relative;
  width: 640px;
  height: 360px;
  filter: brightness(150%);
}

.letterbox-media-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.letterbox-media::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  border-bottom: 2px solid black;
}

.letterbox-media::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  border-top: 2px solid black;
}

.letterbox-media-line {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: white;
  opacity: .7;
  z-index: -1;
}

.letterbox-media-content {
  position: absolute;
  margin: 0;
  width: fit-content;
  color: white;
}

.letterbox-media-line-on-top {
  top: 15%;
  left: 20%;
}

.letterbox-media-line-on-bottom {
  top: 85%;
  left: 25%;
}

.letterbox-media-content-on-right {
  transform: translateY(-50%);
  left: 100%;
  padding-left: 10px;
}

.letterbox-media-content-on-bottom {
  left: 50%;
  transform: translateX(-50%);
}