// neon light text
// =============================

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.neon-light {
  position: relative;
  display: inline-block;
  width: fit-content;
  color: white;
  text-shadow: 0 0 20px #ff005b;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

.neon-light::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  background-color: #ff005b;
  opacity: .5;
  filter: blur(40px);
}

/* in order to enhance neon light effect*/
.neon-light::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  z-index: -1;

  padding: 0 20px;
  color: #ff005b;
}