// TAG Object
//===================================================

// VARS
//============================
// corner color variants
$tag-corner-colors: (
        'purple' : $color-purple-400,
        'blue' : $color-blue-400,
        'yellow' : $color-yellow-400,
        'green' : $color-green-400,
        'red' : $color-red-400,
) !default;

// color variants
$tag-text-colors: (
        'purple' : $color-purple-400,
        'blue' : $color-blue-400,
        'yellow' : $color-yellow-400,
        'green' : $color-green-400,
        'red' : $color-red-400,
) !default;

// base style
// ===============================
.tag {
  border: 1px solid black;
  width: fit-content; /* make width fit content*/
}

// corner color
@each $name, $color in $tag-corner-colors {
  .tag-corner-#{$name} {
    border-left: 20px solid $color; /*override border left*/
  }
}

.tag-title {
  line-height: 1.0;
  font-size: 1.75rem;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.tag-description {
  font-size: 0.885rem;
  line-height: 1.0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

// variants style
// ===================================
@each $name, $color in $tag-text-colors {
  .tag-text-#{$name} {
    color: $color;
  }
}

// corner skew variants
@each $name, $color in $tag-corner-colors {
  .tag-corner-skew-#{$name} {
    position: relative;
    border: 1px solid black;
  }

  .tag-corner-skew-#{$name}::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    background-color: $color;
  }

  .tag-corner-skew-#{$name} > .tag-body {
    position: relative;
    margin-left: 60px;
  }
}

// utilities
// no border
.tag-borderless {
  border: none;
}

