@charset "utf-8";

@use 'sass:color';
@import "initial-variables";
//@import "../utilities/functions";

$primary: $color-black !default;

$info: $color-blue-400 !default;
$success: $color-green-400 !default;
$warning: $color-yellow-700 !default;
$danger: $color-red-400 !default;

$light: $color-gray-200 !default;
$dark: $color-gray-700 !default;

// alternatives: here can calculate complement/invert colors
// but i prefer to use [color-?-number] variables

// border colors
$border: $color-gray-200 !default;
$border-hover: $color-gray-400 !default;
$border-light: $color-gray-50 !default;
$border-light-hover: $color-gray-400 !default;

// text colors

// link colors
$link: $color-black !default;
$link-invert: color.invert($link, 50%) !default;
$link-light: lighten($link, 50%) !default;
$link-dark: darken($link, 50%) !default;
$link-visited: $color-orange-400 !default;

$link-hover: $color-gray-800 !default;
$link-hover-border: $color-gray-400 !default;

$link-focus: $color-gray-800 !default;
$link-focus-border: $color-blue-400 !default;

$link-active: $color-gray-800 !default;
$link-active-border: $color-gray-700 !default;

// sizes
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
