@function str-split-to-map($string, $separator) {
  $i: str-index($string, $separator);
  @if $i != null {
    @return (str-slice($string, 1, $i - 1):str-slice($string, $i + str-length($separator)));
  }
  @return $string
}

$values: '1by2';
$map: str-split-to-map($values, 'by'); /* $result equals '15px' '10px' '5px' */
@debug $map;

@each $w, $h in $map {
  @debug $w, $h
}
